{{define "categorie"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/categorie.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>PGM</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="logo"><img src="../static/img/logo_PGM.png" alt="logo PGM"></a>
            <div class="nav-links">
                <a href="/" class="cat-name">
                    <div class="cat-btn">Accueil</div>
                </a>
                <a href="/categorie?type=news" class="cat-name">
                    {{if eq .Type "news"}}
                    <div class="cat-btn-active">Actualités</div>
                    {{else}}
                    <div class="cat-btn">Actualités</div>
                    {{end}}
                </a> 
                <a href="/categorie?type=tuto" class="cat-name">
                    {{if eq .Type "tuto"}}
                    <div class="cat-btn-active">Tutoriels</div>
                    {{else}}
                    <div class="cat-btn">Tutoriels</div>
                    {{end}}
                </a>
                <a href="/categorie?type=esport" class="cat-name">
                    {{if eq .Type "esport"}}
                    <div class="cat-btn-active">E-Sport</div>
                    {{else}}
                    <div class="cat-btn">E-Sport</div>
                    {{end}}
                </a>
                <a href="/admin" class="cat-name">
                    {{if eq .Type "admin"}}
                    <div class="cat-btn-active">Admin</div>
                    {{else}}
                    <div class="cat-btn">Admin</div>
                    {{end}}
                </a>
            </div>
            <div class="searchBox">
                <form action="/rechercher" method="POST">
                    <input class="searchInput"type="text" name="query" placeholder="Rechercher">
                    <button class="searchButton" type="submit">Go</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="content">
    <div class="sidebar-left">
        votre pub ici
    </div>
    <div class="main">
        {{range .Data}}
        <a href="/article?type={{.Id}}">
            <div class="article">
                    <img src="../static/img/{{.Img}}" alt="image de l'article" class="article-img">
                    <div class="article-text">
                        <h1 class="article-title">{{.Name}}</h1>
                        <div class="cat-art">{{.Category}}</div>
                        <div class="art-pvw">{{.Preview}}</div>
                        <div class="date">{{.Date}}</div>
                    </div>
            </div>
        </a>
    {{end}}
    </div> 
    <div class="sidebar-right">
        votre pub ici
    </div> 
</div>
<footer>
    <div class="nav-footer">
        <div class="top-footer">
            <div class="logo-footer"><img src="../static/img/logo_PGM.png" alt="logo du footer"></div>
            <nav class="footer-links">
                    <a href="/admin">administration</a>
                    <a href="/ajout">ajouter un article</a>
                    <a href="/categorie">catégorie</a>
                    <a href="/mentionslegales">mentions légales</a>

            </nav>
            <div class="footer-phrase">Inshallah ca passe</div>
        </div>
        <div class="bot-footer">
            Arneau Commeau Deriu Herry Jullemier
        </div>
    </div>
</footer>
</body>
</html>
{{end}}