.article{
   height: 200px;
   width: 95%;
   border: solid 1px;
   margin: 20px;
}

.main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 90%; 
   border: 1px solid;
   margin: 5px;
   background-color: #fff;
}