@font-face{
   font-family: "Righteous";
   src: url(../font/Righteous-Regular.ttf);
}

body{
   margin: 0px;
   padding: 0px;
   background-color: #0E0C10;
   color: aliceblue;
   font-family: "Righteous";

}

header{
   margin: 0px;
   padding: 0px;
   height: 100%;
   background-color: #0E0C10;
   font-family: "Righteous";
}

.cat-btn{
   width: 100px;
   height: 60px;
   border-color: none;
   background-color: none;
   ;
}

.cat-name{
   color: aliceblue;
}

.topnav{
   display: flex;
   justify-content: space-around;
   size: 50vw;
}

/* .header{

   font-family: "Righteous";
   color: aliceblue;
   size: ;
} */