.article{
   height: 400px;
   width: 1500px;
   margin-top: 20px;
   margin-bottom: 20px;
   border: solid 1px;
}

.main{
   display: flex;
   justify-content: space-around;
   align-items: column;
}